Basics of Pandas

In [1]:
import pandas as pd

In [3]:
a=pd.read_csv('/home/dell/Documents/datasets/Gender.csv')

In [4]:
a.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
a.tail()

     Gender  Height  Weight  Index
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

In [7]:
a.keys

<bound method NDFrame.keys of      Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]>

In [9]:
male_data=a[a['Gender']=='Male']

In [10]:
male_data.shape

(245, 4)

In [11]:
Female_data=a[a['Gender']=='Female']

In [13]:
Female_data.shape

(255, 4)

In [14]:
a_val=a.drop('Gender',1)
a_val

     Height  Weight  Index
0       174      96      4
1       189      87      2
2       185     110      4
3       195     104      3
4       149      61      3
5       189     104      3
6       147      92      5
7       154     111      5
8       174      90      3
9       169     103      4
10      195      81      2
11      159      80      4
12      192     101      3
13      155      51      2
14      191      79      2
15      153     107      5
16      157     110      5
17      140     129      5
18      144     145      5
19      172     139      5
20      157     110      5
21      153     149      5
22      169      97      4
23      185     139      5
24      172      67      2
25      151      64      3
26      190      95      3
27      187      62      1
28      163     159      5
29      179     152      5
..      ...     ...    ...
470     147     142      5
471     154     112      5
472     178      65      2
473     195     153      5
474     167      79      3
475     183     131      4
476     164     142      5
477     167      64      2
478     151      55      2
479     147     107      5
480     155     115      5
481     172     108      4
482     142      86      5
483     146      85      4
484     188     115      4
485     173     111      4
486     160     109      5
487     187      80      2
488     198     136      4
489     179     150      5
490     164      59      2
491     146     147      5
492     198      50      0
493     170      53      1
494     152      98      5
495     150     153      5
496     184     121      4
497     141     136      5
498     150      95      5
499     173     131      5

[500 rows x 3 columns]

In [18]:
from sklearn import cross_validation,preprocessing
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import numpy as np

In [19]:
len(a_val)

500

In [22]:
x=a_val['Height']
y=a_val['Weight']
X_val=np.array(x)
y_val=np.array(y)
X_val=X_val.reshape(-1,1)
y_val=y_val.reshape(-1,1)

In [28]:
x_train,x_test,y_train,y_test=cross_validation.train_test_split(X_val,y_val,test_size=0.1)

In [31]:
#machine learning algo
lr=LinearRegression()
lr.fit(x_train,y_train)
b=lr.score(x_test,y_test)
b

-0.0028934891485943304